*.txt
*.svf

# Generated
/target
*.log
.DS_Store
__pycache__

# User specific settings
.vscode/settings.json

# simulation data
demo_big_sim_hills_sliding_brick.csv
data/big_sim_*
data/bench*.txt

.vs/
